/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
*{
  margin: 0;
  padding : 0;
}
body{
  font-family: Franklin Gothic Medium;
}
.hero{
  position: absolute;
  width:1140px;
  top: 30%;
  left : 15%;
  transition: translation(-50% , -90%) ;
}
header{
  padding-top : 80px ;
  padding-bottom: 60px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0,0,0,0.6)) ,url(./assets/image/image3.jpeg);
  height : 100vh;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  /*  */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;

  
}
h1{
  color : white;
  /* new styling for react */
  /* margin-top: 50px; */
  /* margin-left: 50px; */
  /* till here */
  padding-left:95px;
  
}
.row{
  max-width: 1140px;
  margin: 0 auto ;
  float: right;
  margin-right: 30px;

}
.main-nav{
  
  margin-top: 30px;
  list-style: none;
  /* float: right; */
}
/* .main-nav{
  /* display: inline; */
  /* list-style: none; */
  /* float: right; */
  /* margin-top: 10px; */
/* } */ 
.main-navli
{
  display: inline-block;
  margin-left: 20px ;
  
  
}
.main-navlink
{
  color: white;
  text-decoration: none;
  font-weight: bold; 
}
.main-nav li a:hover
{
  color: #e67e22;
  border-bottom: 2px solid #e67e22;
  transition: all 0.5s ease-in;
  padding: 10px ;
}
.btn{
  position: relative;
  border: 1px solid #e67e22;
  padding: 10px 30px;
  color: #e67e22;
  text-decoration: none;
  border-radius: 12px;
  margin-right: 100px;

  
}
.main-btn{
  /* position: relative; */
  margin-top: 30px;
  
}
.btn-half{
  left: 95px;
}

.btn-half:hover{
  background-color: #e67e22;
  color: aliceblue;
  transition: all 0.5s ease-in;   
}
.btn-full:hover{
  background-color: #e67e22;
  color: aliceblue;
  transition: all 0.5s ease-in;
}
h3::after{
  width: 500px;
  height: 2px;
  background-color: #e67e22;
  display: block;
  content: " ";
  margin: 0 auto;
  margin-top: 30px;
}
.recipe-header{
  padding-top : 50px ;
  padding-bottom: 40px;
  color: black;
  background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)) ,url(./assets/image/signup-background.jpeg); 
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.features{
  padding-top:80px;
  padding-bottom: 60px;
  /* background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)) ,url(./image/peopleBackground.jpeg); */
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  /* margin-top: 80px;
  margin-bottom: 30px; */
}
.features-h3{
  /* margin-top: 80px;
  margin-bottom: 30px; */
  margin: 0;
  padding-top : 60px ;
  padding-bottom: 60px;
}
.copy{
  width: 70%;
  margin-left: 15%;
  /* margin-bottom: 20px; */
  padding-bottom: 80px;
}
.arranging{
  text-align: justify;
}
.features-i{
  font-size: 40px;
  color: #e67e22;
  margin-left: 55px;
}
.features-h4{
  margin-left: 40px;

}
.meal {
  background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)) , url(./assets/image/peopleBackground.jpeg);
  /* margin-top: 80px; */
  padding-top : 40px ;
  padding-bottom: 60px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.meal-showcase{
      list-style: none;
      width: 100%;
}
.meal-showcase li{
  display: block;
  width: 25%;
  float: left;
  
}
.meal-photo{
  width: 100%;
  /* margin: 0; */
  
  overflow: hidden;
}
.meal-photo img {
  width: 100%;
  height: auto;
  transform: scale(1.15);
  transition: all 0.5s;
  margin-bottom: 60px; 
}
.meal-photo img:hover{
  transform: scale(1.05);
}
/* .blogs{
  margin-top: 60px;
  margin-bottom: 10px;
} */

.blogs-header{
  padding-top : 50px ;
  padding-bottom: 60px;
  color: white;
  background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)) , url(./assets/image/peopleBackground.jpeg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.testimonials {
  padding-top : 100px ;
  padding-bottom: 60px;
  background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)) , url(./assets/image/peopleBackground.jpeg);
  color: white ;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
  
}
.testimonialsh4{
  margin-top: 40px;
  margin-bottom: 20px;
  font-size: 20px;
}
.testimonials-p{
  color: white;
  line-height: 25px;
  text-align: justify;
  margin-top: 0px;
}
.testimonials-image-img{
  /* width: 100px;
  height: 100px;
  border-radius: 60%;
  margin-right: 10px; */
  width: 100%;
  transition: all 0.5s;
  padding-bottom: 60px; 
}
.submit-btn{
  background-color: #e67e22;
  color:white;
  border-radius: 12px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 550px;
  margin-right: 50px;     
}
.gap{
  margin-top: 40px;
}
.workout-header{
  padding-top : 50px ;
  padding-bottom: 60px;
  color: white;
  background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)) ,url(./assets/image/workout-background.jpeg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.workout-plan{
  padding-top : 100px ;
  padding-bottom: 60px;
  color: white;
  background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)) ,url(./assets/image/workout-background.jpeg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.workout-plan-h3{
  padding-top: 1000px;
}
.workout-plan img{
  width: 100%;
  transition: all 0.5s;
  padding-bottom: 60px; 
}
.workout-plan img:hover{
  transform: scale(1.05);
}
.workout-plan h4{
  margin-top: 40px;
  margin-bottom: 40px;
}
.signUp-header{
  padding-top : 50px ;
  padding-bottom: 60px;
  color: white;
  background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)) ,url(./assets/image/workout-background.jpeg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.form{
  padding-top : 100px ;
  padding-bottom: 60px;
  color: white;
  /* background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)) ,url(./image/signup-background.jpeg);
  background-attachment: fixed; */
}
.form-input{
  margin-left: 310px;
  margin-right: 50px;
  justify-content: center;
  width: 50%;
  opacity: 0.6;
}
.form-h3{
  margin-bottom: 60px;
  margin-left: 60px;
}
.contact-header{
  padding-top : 50px ;
  padding-bottom: 60px;
  color: white;
  background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)) ,url(./assets/image/COFFE.jpeg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.contact{
  padding-top : 100px ;
  padding-bottom: 60px;
  color: WHITE;
  background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)) ,url(./assets/image/COFFE.jpeg);
  
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100% 100%; 
  background-attachment: fixed;
}
.contact-h3{
  padding-top: 40px;
}
h3{
  margin-bottom: 60px;
}
.contact-input{
  opacity: 0.6;
}
.contact-textarea{
  opacity: 0.7;
}
.contact-btn{
  background-color: #e67e22;
  color:white;
  border-radius: 12px;
  margin-left: 530px;   
}
.about-header{
  padding-top : 50px ;
  padding-bottom: 60px;
  color: WHITE;
  background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)) ,url(./assets/image/signup-background.jpeg);   
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100% 100%; 
  background-attachment: fixed;
}
.about{
  padding-top : 100px ;
  padding-bottom: 80px;
  background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)) ,url(./assets/image/signup-background.jpeg); 
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: black;
}
.about-space{
  padding-top :40px;
}
.about-img{
  width: 100%;
}
.about-p{
  text-align : justify;
}
/* @media (max-width:470px) and (min-width: 400px) {
  header{
      background-image: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0,0,0,0.6)) ,url(./assets/image/image3.jpeg);
      height : 100vh; 
      width: 100%;
      /* background-position: center; */
      /* background-size: 100% 100%;
      background-attachment: fixed;
      
  }
  .meal {
      background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)) , url(./assets/image/peopleBackground.jpeg);
      /* margin-top: 80px; */
      /* background-repeat: no-repeat;
      background-size: 100% 100%;
      background-attachment: fixed; */
  /* }
  .testimonials {
      background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)) , url(./assets/image/peopleBackground.jpeg);
      background-repeat: no-repeat;
      background-size: 100% 100%;
      background-attachment: fixed;
      
  }
  .workout-plan{
      background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)) ,url(./assets/image/workout-background.jpeg);
      background-attachment: fixed;
      background-repeat: no-repeat;
      background-size: 100% 100%;
  }
  .contact{
      background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)) ,url(./assets/image/COFFE.jpeg);
      
      background-attachment: fixed;
      background-repeat: no-repeat;
      background-size: 100% 100%; 
      background-attachment: fixed;
  } */
  /* .about{
      background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)) ,url(./assets/image/signup-background.jpeg); 
      background-attachment: fixed;
      background-repeat: no-repeat;
      background-size: 100% 100%;
  }
  h1{
      font-size: 20px;
  }
  .btn{
      position: relative;
      border: 1px solid #e67e22;
      padding: 10px 30px;
      color: #e67e22;
      text-decoration: none;
      border-radius: 12px;
      margin-right: 30px; */
  
/*       
  }
  .btn-half{
      left: 30px;
  }
  .form input{
      margin-left: 70px;
      margin-right: 50px;
      justify-content: center;
      width: 50%;
      opacity: 0.6;
  }
  .submit-btn{
      margin-left: 70px;
      color: white;
  }
  .contact-btn{
      background-color: #e67e22;
      color:white;
      border-radius: 12px;
      margin-left: 290px;   
  } */
  /* .main-nav.responsive {position: relative;}
.main-nav.responsive li a.icon {
  position: absolute;
  right: 0;
  top: 0;
}
.main-nav.responsive li a {
  float: none;
  display: block;
  text-align: left;
} */
/* }  */